body {
 background-image: url("https://res.cloudinary.com/dtn9ari2r/image/upload/v1541355542/backgrounds/linenbkg.gif");
 font-size: 1.2em;
}

html, body {
    min-height: 100%;
}

h1 {font-size: 2.0em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.0em;}

.h1-smaller {
	font-size: 1.6em;	
}

.h2-smaller {
	font-size: 1.4em;
}

nav {
 background-image: url("https://res.cloudinary.com/dtn9ari2r/image/upload/v1542410020/backgrounds/Blue-Silk-Fabric-Texture.jpg");
}

/*@font-face { 
	font-family: 'Archistico';
	src: url('../fonts/WebFont.eot');
	src: url('../fonts/Archistico_Simple-webfont.woff') format('woff');
}*/

/*@font-face { 
	font-family: 'Amatic';
	src: url('../fonts/Amatic-Bold.ttf') format('ttf');
}*/

.navbar-brand {
	/*font-family: 'Amatic';*/
	font-family: 'Rancho', cursive;
	font-size: 2.1em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

main {
	margin-top: 20px;
}

.div-invisible {
 display: none; 
}

/* ---- grid ---- */

.grid {
	background: #DDD;
	background-image: url(https://res.cloudinary.com/dtn9ari2r/image/upload/v1541355542/backgrounds/linenbkg.gif);
  }
  
  /* clear fix */
  .grid:after {
	content: '';
	display: block;
	clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
	width: 25%;
  }
  
  .grid-item {
	float: left;
  }
  
  .grid-item img {
	display: block;
	max-width: 100%;
  }

  /* end of grid */

  .list-group-item {
	  background-color: transparent;
	  border: 0;
  }

  #twitter-widget-0 {
	  max-height: 800px;
  }

.footer_body {
    position: absolute;
    bottom: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575px) { 
	.navbar-brand {
		font-size: 1.2em;
	}
	body {
	 	margin-top: 75px;	
	}
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767px) { 
	.navbar-brand {
		font-size: 1.6em;
	}
	body {
		margin-top: 75px;	
   }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) { 
	.navbar-brand {
		font-size: 1.6em;
	}
	body {
		margin-top: 75px;	
   }	
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px) { 
	.navbar-brand {
		font-size: 2.2em;
	}
	body {
		margin-top: 85px;	
   }	
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
	.navbar-brand {
		font-size: 2.4em;
	}	
	body {
		margin-top: 90px;	
   }
}
