body {
 background-image: url("https://res.cloudinary.com/dtn9ari2r/image/upload/v1534337032/backgrounds/tantweed.gif");
 margin-top: 80px;
}

html, body {
    min-height: 100%;
}

nav {
 background-image: url("https://res.cloudinary.com/dtn9ari2r/image/upload/v1534340105/backgrounds/5022.png");
}

.navbar-brand {
  font-family: 'MyWebFont', Arial, sans-serif;
}

@font-face {
    font-family: 'archisticonormal';
    src: url('Archistico_Simple-webfont.eot');
    src: url('Archistico_Simple-webfont.eot?#iefix') format('embedded-opentype'),
         url('Archistico_Simple-webfont.woff2') format('woff2'),
         url('Archistico_Simple-webfont.woff') format('woff'),
         url('Archistico_Simple-webfont.ttf') format('truetype'),
         url('Archistico_Simple-webfont.svg#archisticonormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

.div-invisible {
 display: none; 
}

/*h1,
h2,
h3,
h4,
h5,
h6 {font-size: 0.9em;}*/
