body {
 background-image: url("https://res.cloudinary.com/dtn9ari2r/image/upload/v1534337032/backgrounds/tantweed.gif");
}

nav {
 background-image: url("https://res.cloudinary.com/dtn9ari2r/image/upload/v1534340105/backgrounds/christmas-background-tiles118.gif");
}

html,body{
    height: 100%
}
