---
layout: page
title: Artist Blog | English Art Blog
description: GrahamArt blog - diary of an English artist.
heading: Artist blog
image: https://res.cloudinary.com/dtn9ari2r/image/upload/e_vignette:20/e_make_transparent:10/v1533935898/DSC02898.jpg
alt: Graham Art
permalink: /blog
---
<div class="row">
    <div class="col-md-8">
        <p>I like to blog about the things I get up to in the world of the arts. So feel free to read some of the entries in my blog.</p>
        {% for post in site.posts limit: 30 %}
        <div class="card mb-3" >
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="{% if post.image %}{{ post.image }}{% else %}{{ post.image1 }}{% endif %}" alt="{{ post.title }}" class="img-thumbnail" style="max-width: 150px" >
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
                        <p class="card-text">{% if post.introduction %}{{ post.introduction }}{% else %}{{ post.excerpt }}{% endif %}</p>
                        <p class="card-text"><small class="text-muted">{{ post.date | date: "%a, %b %d, %y" }}</small></p>
                    </div>
                </div>
            </div>
        </div>         
        {% endfor %}
    </div>
    <aside class="col-md-4" style="overflow-y: auto;">
        <a class="twitter-timeline" href="https://twitter.com/GrahamArts?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </aside>
</div>