    <footer class="py-5 bg-dark">
      <div class="container">
        <span class="m-0 text-center text-white">Copyright &copy; GrahamArt 2018</span>
          <span><a href=""><i class="fab fa-facebook fa-4x"></i></a></span>
          <span><a href=""><i class="fab fa-google-plus-square fa-4x"></i></a></span>
          <span><a href=""><i class="fab fa-twitter fa-4x"></i></a></span>
          <span><a href=""><i class="fab fa-instagram fa-4x"></i></a></span>
      </div>
      <!-- /.container -->
    </footer>
