    <footer class="py-5 footer fixed-bottom">
      <div class="container">
          <div class="row">
              <div class="p1">Copyright &copy; GrahamArt 2018</div>
              <div class="p1"><a href="https://www.facebook.com/grahamart.arts"><i class="fab fa-facebook fa-3x"></i></a></div>
              <div class="p1"><a href="https://plus.google.com/116702465661518058405"><i class="fab fa-google-plus-square fa-3x"></i></a></div>
              <div class="p1"><a href="https://twitter.com/GrahamArts"><i class="fab fa-twitter fa-3x"></i></a></div>
              <div class="p1"><a href="https://twitter.com/GrahamArts"><i class="fab fa-twitter fa-3x"></i></a></div>
              <div class="p1"><a href="https://twitter.com/GrahamArts"><i class="fab fa-twitter fa-3x"></i></a></div>
              <div class="p1"><a href="https://www.instagram.com/grahamart/"><i class="fab fa-instagram fa-3x"></i></a></div>
              <div class="p1"><a href="https://www.pinterest.co.uk/grahamartuk/"><i class="fab fa-pinterest fa-3x"></i></a></div>
          </div>
      </div>
      <!-- /.container -->
    </footer>
