<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
	{% include nav.html %}
	<main>
		<article>
			{{ content }}
		</article>
		{% include footer.html %}
	</main>
	<!-- Markup microformat data -->
		<div itemscope itemtype="http://schema.org/WebSite">
			<meta itemprop="name" content="{{ site.name }}"/>
			<meta itemprop="alternateName" content="{{ page.title }}"/>
			<meta itemprop="url" content="{{ site.url page.url }}"/>
		</div>
		<!-- /.markup data -->
</body>
	<!-- Bootstrap core JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	{% if page.masonry %}
	<link rel="stylesheet" href="/css/index.css">
	<script src="js/masonry.pkgd.min.js"></script>	
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<SCRIPT>
		var grid = document.querySelector('.grid');
		var msnry;
		
		imagesLoaded( grid, function() {
		  // init Isotope after all images have loaded
		  msnry = new Masonry( grid, {
			itemSelector: '.grid-item',
			columnWidth: '.grid-sizer',
			percentPosition: true
		  });
		});
	</SCRIPT>	
	{%endif%}	
		    <!-- Markup structured data -->
				<script type="application/ld+json">
					{
						"@context": "http://schema.org/",
						"@type": "WebSite",
						"name": "{{ site.name }}",
						"alternateName": "{{ page.title }}",
						"url": "{{ site.url page.url }}"
					}
					</script>
					<!-- /.markup data -->
</html>
