---
layout: default
---

<article class="container blog" style="padding-top: 10px;">

    <h1 class="h1-smaller">{% if page.h1 %}{{ page.h1 }}{% else %}{{ page.title }}{% endif %}</h1>
    <time>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>

    {% if page.image %}   
    <div class="offset-1 col-10 text-center">     
        <figure class="figure text-center">
            <img class="figure-img img-fluid" src="{{ page.image }}" alt="{{ page.alt-image }}" />
            <figcaption class="figure-caption">{{ page.alt-image }}</figcaption>
        </figure>         
    </div>
    {% endif %}   

    {{ content }}

</article>