---
layout: default
---

<article class="container blog" style="padding-top: 10px;">

    {% if page.image %}   
    <div class="offset-1 col-10 text-center">     
        <figure class="figure text-center">
            <img class="figure-img img-fluid" src="{{ page.image }}" alt="{{ page.alt-image }}" />
            <figcaption class="figure-caption">{{ page.alt-image }}</figcaption>
        </figure>         
    </div>
    {% endif %}   

    {{ content }}

    <time>Written on {{ page.date | date: "%b %-d, %Y" }} by {% if page.author %} • {{ page.author }}{% else %} {{ "Graham" }} {% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</time>

</article>