---
layout: default
---
<div class="container">
  <div class="row my-4">
    <div class="col-sm-6">
      <img class="img-fluid" src="{{ page.image }}" alt="{{ page.alt-image }}" />
    </div>
    <div class="col-sm-6">
      <h1 class="h1-smaller">{{ page.work }}</h1>
      <p class="font-italic font-weight-light">{{ page.media }} {{ page.size }}</p>
      <h2 class="h2-smaller">Summary of the painting</h2>      
      <p>{{ page.worktext1 }}</p>
      <h2 class="h2-smaller">Artist's notes</h2>
      <p>{{ page.worktext2 }}</p>
      <p>{{ page.worktext3 }}</p>
      <p>{{ page.worktext4 }}</p>
      <h2 class="h2-smaller">Further Information</h2>
      <p>For further information <a href="{{ page.link-info }}" target="_blank">click here</a> (opens a new browser window)</p>      
    </div>
  </div>
</div>