---
layout: default
---
<div class="container" style="padding-top: 10px;">
  <div class="row my-4">
    <div class="col-sm-6">
      <figure class="figure">
          <img src="{{ page.image }}" class="figure-img img-fluid" alt="{{ page.alt-image }}">
          <figcaption class="figure-caption">{{ page.caption }}</figcaption>
        </figure>
    </div>
    <div class="col-sm-6">
      <h1 class="h1-smaller">{{ page.work }}</h1>
      <p class="font-italic font-weight-light">{{ page.media }} {{ page.size }}</p>
      <h2 class="h2-smaller">About the picture</h2>      
      <p>{{ page.summary }}</p>
      {% if page.artistnote1 %}<h2 class="h2-smaller">Artist's notes</h2>{% endif %}
      <p>{{ page.artistnote1 }}</p>
      <p>{{ page.artistnote2 }}</p>
      <p>{{ page.artistnote3 }}</p>
      <h2 class="h2-smaller">Further Information</h2>
      <p>For further information <a href="{{ page.link-info }}" target="_blank">click here</a> (opens a new browser window)</p>
      {% if page.sale-url %}
      <p>
        To support my work you can buy a print or other merchandise based on this painting, and have it delivered to you! Visit my retailer - 
        <a href="{{ page.sale-url }}" class="btn btn-sm btn-primary"></a><i class="fas fa-cart-plus"></i>Buy now!</a>
      </p>
      {% endif %}
      <p></p>      
    </div>
  </div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c6c020000989a3e">
</script>